<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css'>
    <title>Clock</title>
  </head>
  <body>
    <div class="container">
      <img src="~/img/clock.png" alt="Picture of clock" id="clockImage">
      <h1>Here's the degree to be shown on the clock:</h1>
      <h3>@Model.GetDegrees() degrees.</h3>
    </div>
  </body>
</html>
